@import url("https://fonts.googleapis.com/css?family=Tangerine");
.recipeContainer {
  align-content: center;
  margin: 5rem;
}

@font-face {
  font-family: "Tangerine", serif;
  src: url("https://fonts.googleapis.com/css?family=Tangerine");
}

.recipeContainerTitle {
  font-family: "Tangerine", serif;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
