@import url("https://fonts.googleapis.com/css?family=Tangerine");
.recipeContainer {
  align-content: center;
  margin: 5rem;
}

@font-face {
  font-family: "Tangerine", serif;
  src: url("https://fonts.googleapis.com/css?family=Tangerine");
}

.logoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 110px;
  height: 80px;
  margin: 0.5em;
  padding-right: inherit;
  margin-right: 2rem;
}

.logoName {
  font-family: "Syne Tactile", cursive;
  font-size: 28px;
  text-shadow: 4px 4px 4px #aaa;
  transform: rotate(-45deg);
  padding: 2rem 0 0 2rem;
}